<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div class="container" id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p class="btn btn-outline-primary">
      <%=  link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<p class="btn btn-outline-primary">
  <%= link_to "New restaurant", new_restaurant_path %>
</p>
